<div class= "container" id="search-form">
  <row>
    <div class="col-md-2">
    <h4>From Airport</h1>
      <select class="form-control">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
  </row>
  <row>
  <div class="col-md-2 ">
    <h4>To Airport</h1>
      <select class="form-control">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
  </row>
  <row>
  <div class="col-md-2 ">
    <h4>Num of passangers</h1>
      <select class="form-control">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
  </row>
  <row>
  <div class="col-md-2 ">
    <h4>Date</h1>
      <select class="form-control">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
  </row>
  <row>
    <div class="col-md-1 ">
    <button class="btn btn-default btn-lg">Search</button>
    </div>
  </row>
</div>