<%= render 'search_form' %>

<hr>

<div class= "container">
  <row>
    <div class="col-md-2">
    <h3>Results</h3>
      <div class="radio">
        <label>
          <input type="radio" name="blankRadio" id="blankRadio1" value="option1" aria-label="...">
          <span class="glyphicon glyphicon-plane" aria-hidden="true"></span> Flight 1
        </label>
      </div>
      </div>
  </row>
</div>