<div class= "container">
  <row>
    <h1>Flight</h1>
  <div class="col-md-2 ">

        <div class="panel panel-default">
            <div class="panel-heading text-center">Date</div>
            <div class="panel-body text-center"><%= @flight.departure_date.strftime('%b %e, %l:%M %p') %></div>
        </div>
    </div>


    <div class="col-md-2 ">
        <div class="panel panel-default">
            <div class="panel-heading text-center">Flight ID</div>
            <div class="panel-body text-center"><%= @flight.id %></div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-heading text-center">Departure</div>
            <div class="panel-body text-center"><%= @flight.from_airport.code %></div>
        </div>
    </div>

    <div class="col-sm-1 arrow">
        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
    </div>

  <div class="col-md-2 ">
        <div class="panel panel-default">
            <div class="panel-heading text-center">Arrival</div>
            <div class="panel-body text-center"><%= @flight.to_airport.code %></div>
        </div>
    </div>

  </row>
</div>