<div class= "container" id="search-form">
  <row>
  <div class="col-md-2 ">
        <div class="panel panel-default">
            <div class="panel-heading">Flight ID</div>
            <div class="panel-body">Panel content</div>
        </div>
    </div>
  </row>

  <row>
    <div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-heading">From Airport</div>
            <div class="panel-body">Panel content</div>
        </div>
    </div>
  </row>
  <row>
  <div class="col-md-2 ">
        <div class="panel panel-default">
            <div class="panel-heading">To Airport</div>
            <div class="panel-body">Panel content</div>
        </div>
    </div>
  </row>
  <row>
  <div class="col-md-2 ">
        <div class="panel panel-default">
            <div class="panel-heading">Date</div>
            <div class="panel-body">Panel content</div>
        </div>
    </div>
  </row>
  <row>
</div>