<div class= "container" id="search-form">
  <row>

  <h1>Passenger</h1>
  <% @passengers.each do |passenger| %>
    <div class="col-md-2 ">
        <div class="panel panel-default">
            <div class="panel-heading text-center">Name</div>
            <div class="panel-body text-center">passenger.name</div>
        </div>
    </div>
    <div class="col-md-2 ">
        <div class="panel panel-default">
            <div class="panel-heading text-center">Email</div>
            <div class="panel-body text-center">passenger.email</div>
        </div>
    </div>
    <% end %>

   </row>
</div>